.bgg-search-inputs {
  display: flex;
  margin: 1vh;
  flex-direction: column;
}

.bgg-search-inputs > * {
  flex-wrap: column;
  margin-right: 1vh;
}

.bgg-search-inputs > mat-form-field {
  max-width: 15rem;
}

.app-content {
  margin: 1vh
}

.showcase {
  display: flex;
  flex-direction: row;
}

.game-gallery {
  margin: 1vh
}
